  *{
    box-sizing: border-box;
  }
  html,body{
    height: 100%;
  }
  body,ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .item-container {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 77px;
    color: #222222;
    background-color: #ffffff;
    overflow-y: auto; 
  }
  .item-wrap{
    display: table;
    width: 100%;
  }
  .checkbox-a{
    display: inline-block; 
    position: relative; 
    padding: 9px; 
    background-color: #fffff; 
    border: 1px solid #c1caca; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); 
    border-radius: 5px; 
    margin-right: 30px; 
  }
  .checkbox-a.checked{
    background-color: #ecf2f7; 
    border: 1px solid #92a1ac; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1); 
    color: #243441; 
  }
  .checkbox-a.checked:after{
    position: absolute; 
    content: '\2714'; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    padding: 1px 0 0 0; 
    text-align: center; 
    font-size: 18px;
    line-height: 20px; 
    color: #758794; 
  }
  .item-list{
    display: table-header-group;
    width: 100%;
  }
  .item-head{
    color: #ffffff;
    background-color: #605F5F;
  }
  .item-list > li{
    display: table-row;
  }
  .item-list > li > *{
    display: table-cell;
    padding: 10px 10px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
  }
  .item-list > li > *:first-child{
    text-align: left;
  }
  .item-list > li > div > input{
    width: 40px;
    text-align: center;
  }
  .item-image-case{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin-right: 20px;
    overflow: hidden;  
  }
  .item-image-case > img{
    width: 100%;
    height: auto;
  }
  .item-queunit > a{
    padding: 6px;
    border-radius: 4px;
    cursor: pointer; 
  }
  .item-cart{
    position: absolute;
    padding: 15px 10px;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #ccc;
  }
  .item-cart > a{
    top: 2px;
  }
  .item-cart > span{
    line-height: 45px;
  }
  .item-checkout{
    float: right;
    min-width: 200px;
    height: 100%;
    padding: 15px;
    color: #ffffff;
    border: none;
    box-shadow: none;
    background-color: #d1434a;
    cursor: pointer;
  }
  .item-rebtn{
    color: #ffffff;
    font-size: 12px;
    padding: 6px;
    background-color: #d1434a;
    cursor: pointer;
  }
  .item-checkout:hover, .item-rebtn:hover{
    background-color: #bd3c43;
  }
  .item-cart-total{
    float: right;
  }
  .confirm-layer{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.4);
  }
  .confirm-panel{
    position: absolute;
    left: 50%;
    top: 25%;
    width: 320px;
    height: 150px;
    margin-left: -160px;
    background-color: #ffffff;
    border: 1px solid #ccc;
  }
  .confirm-panel > p {
    margin: 30px;
    text-align: center;
    font-size: 16px;
  }
  .confirm-panel > a{
    float: left;
    width: 50%;
    padding: 10px 20px;
    line-height: 1.8;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #d1434a;
    background-clip:content-box;
    cursor: pointer;
  }
  .confirm-panel > a+a{
    background-color: #9e9898;
  }