$page-bg: #f1f1f1; //body背景
$bg-blue: #0097ed;
$bg-white: #ffffff;
$bg-green: #50e3ce;  //登录界面绿色
$bg-gray: #d6d2d2;
$bg-black: #222222;
//文字颜色
$textwhite: #ffffff;
$textblack: #000000;
$textwaring: #ff0000;
$textgreen: #3dd11a;
$textcolor-01: #81d1ff; //主体淡青色

$border-gray:1px solid #ccc;
$border-blue:1px solid #0097ed; //淡青色边框
$border-red:1px solid #f37474;